
<BR/>
<img src="{{ '/assets/cropped-logo.png' | prepend: site.baseurl_root }}" style="margin-left: auto; margin-right: auto;" />
<ul class="language-bar">
  <a class="link-pt flag-icon flag-icon-us" href="{{ site.baseurl_root }}/"></a>
  <a class="link-en flag-icon flag-icon-br" href="{{ site.baseurl_root }}/pt"></a>
</ul>
<nav class="nav">
  <div class="nav-container" style="height: 50px">
    <ul class="navul">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="/{{ site.lang }}/donate">{% t global.donate %}</a></li>
      <li><a href="/{{ site.lang }}/calculators">{% t global.calculators %}</a></li>
      <li><a href="/{{ site.lang }}/my-presentations">{% t global.my-presentations %}</a></li>
      <li><a href="/{{ site.lang }}/satcom-projects">{% t global.satcom-projects %}</a></li>
      <li><a href="/{{ site.lang }}/my-tesla-coils">{% t global.my-tesla-coils %}</a></li>
      <li><a href="/{{ site.lang }}/about">{% t global.about %}</a></li>
    </ul>
  </div>
</nav>
<div class="social-icon">
  <ul>
    <li class="btn-a btn-svg btn-twitch">
      <a href="https://twitch.tv/racerxdl">
        {% include social/twitch.svg %}
        RacerXDL
      </a>
    </li>
    <li class="btn-a btn-svg btn-twitter">
      <a href="https://twitter.com/lucasteske">
        {% include social/twitter.svg %}
        @lucasteske
      </a>
    </li>
    <li  class="btn-a btn-svg btn-instagram">
      <a href="https://instagram.com/racerxdl/">
        {% include social/instagram.svg %}
        @racerxdl
      </a>
    </li>
    <li class="btn-a btn-svg btn-facebook">
      <a href="https://www.facebook.com/teskeslab">
        {% include social/facebook.svg %}
        Teske's Lab
      </a>
    </li>
    <li class="btn-a btn-svg btn-github">
      <a href="https://github.com/racerxdl">
        {% include social/github.svg %}
        @racerxdl
      </a>
    </li><BR/>
    <li class="btn-a btn-svg btn-youtube">
      <a href="https://www.youtube.com/c/TeskesLab">
        {% include social/youtube.svg %}
        Teske's Lab
      </a>
    </li>
    <li class="btn-a btn-svg btn-linkedin">
      <a href="https://www.linkedin.com/in/lucas-teske-8206301b/">
        {% include social/linkedin.svg %}
        Lucas Teske
      </a>
    </li>
    <li class="btn-a btn-svg btn-code-stats">
      <a href="https://codestats.net/users/racerxdl">
        {% include social/code-stats.svg %}
        racerxdl
      </a>
    </li>

  </ul>
</div>
<div class="search-input">
  <input type="text" id="search-input" style="margin: 0 auto;" placeholder="{% t global.search-posts %}">
</div>
<ul id="results-container" class="results-container"></ul>
