<BR/>
<img src="{{ '/assets/cropped-logo.png' | prepend: site.baseurl }}" style="margin-left: auto; margin-right: auto;" />
<nav class="nav">
  <div class="nav-container" style="height: 50px">
    <ul class="navul">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ '/donate' | prepend: site.baseurl }}">Donate</a></li>
      <li><a href="{{ '/calculators' | prepend: site.baseurl }}">Calculators</a></li>
      <li><a href="{{ '/my-presentations' | prepend: site.baseurl }}">My Presentations</a></li>
      <li><a href="{{ '/satcom-projects' | prepend: site.baseurl }}">Satcom Projects</a></li>
      <li><a href="{{ '/my-tesla-coils' | prepend: site.baseurl }}">My Tesla Coils</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    </ul>
  </div>
</nav>
<BR/>
