---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

body {
  background-image: url("/assets/bg1.jpg");
  background-position: left top;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}

body .site {
  padding: 0 40px;
  padding: 0 2.857142857rem;
  margin-top: 48px;
  margin-top: 3.428571429rem;
  margin-bottom: 48px;
  margin-bottom: 3.428571429rem;
  background-color: #fff;
  max-width: 960px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 10px 16px -9px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 10px 16px -9px rgba(0,0,0,0.7);
  box-shadow: 0px 10px 16px -9px rgba(0,0,0,0.7);
}

body .nav {
  width: 100%;
  background-color: #fff;
}

body .topbar {
  position: fixed;
  top: 0;
  width: 100%;
  content-align: center;
  background-color: #fff;
  height: 45px;
  text-align: center;
  -webkit-box-shadow: 0px 10px 16px -9px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 10px 16px -9px rgba(0,0,0,0.7);
  box-shadow: 0px 10px 16px -9px rgba(0,0,0,0.7);
}

.navul {
  width: 90%;
}

/* Share buttons */
.sharebuttons {
  width: 300px;
  margin: 0 auto 0 auto;
}

.sharebuttons ul {
  margin: 20px 0 0 0;
  text-align: center;
}

.sharebuttons ul li {
  display: inline;
}

.sharebuttons ul li a {
  text-decoration: none;
}

.sharebuttons ul li svg {
  width: 40px;
  height: 40px;
}

.sharebuttons .reddit svg {
  fill: #FF4500;
}

.sharebuttons .hn svg {
  fill: #F0652F;
}

.sharebuttons .twitter svg {
  fill: #1DA1F2;
}

/* Social Network Icons */
.social-icon {
  margin: 0 auto 0 auto;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
  padding-bottom: 15px;
}

.social-icon ul li {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
  line-height: 40px;
}

.social-icon ul {
  margin: 20px 0 0 0;
  text-align: center;
}

.social-icon ul li svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.social-icon ul li a {
  text-decoration: none;
}


.btn-reddit svg {
  fill: #FF4500;
}

.btn-twitter svg {
  fill: #1DA1F2;
}

.btn-linkedin svg {
  fill: #0077B5;
}

.btn-facebook svg {
  fill: #4172B8;
}

.btn-instagram svg {
  fill: #E4405F
}

.btn-github svg {
  fill: #181717
}