---
layout: default
---
<BR/>
<div id="twitch-embed" class="twitch-embed"></div>

<!-- Load the Twitch embed script -->
<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script>
  fetch('https://live-snippet.rxdl.workers.dev/')
    .then(function (response) {
      return response.json();
    })
    .then(function (content) {
      if (content.online) {
        console.log("IS ONLINE");
        new Twitch.Embed("twitch-embed", {
          width: 854,
          height: 480,
          channel: content.user_name,
          allowfullscreen: true,
          layout: 'video',
        });
      }
    })
    .catch(function (error) {
      console.log("Error loading twitch snippet: ", error)
    })
</script>

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item catalogue-item-2">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>
        {% if post.image %}
          <div class="post-image-div">
            <img src="{{ post.image }}" class="post-image post-image-2"/>
          </div>
        {% endif %}
        <p>
          {{ post.content | strip_html | truncatewords: 100 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
