---
layout: default
---

{% capture i18n_date %}
  {{ page.date | date: "%-d" }}
  {% assign m = page.date | date: "%-m" | minus: 1 %}
  {{ site.data[site.lang].months[m] }}
  {{ page.date | date: "%Y" }}
{% endcapture %}

<div class="post">
  <div class="post-info">
    {% if page.image %}
      <img src="{{ page.image }}"/>
    {% endif %}
    <span>{% t global.written-by %}</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>{% t global.dateon %} </span><time datetime="{{ page.date }}">{{ i18n_date }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{% t page.title %}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
